<form>
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [formControl]="nombreControl" required>
    </div>
    <div>
      <label for="numero">Número:</label>
      <input type="text" id="numero" [formControl]="numeroControl" required>
    </div>
    <button type="button" id="Agregar/editar" (click)="agregarContacto(); limpiarInputs()">
      
      {{ selectedIndex !== -1 ? 'Actualizar Contacto' : 'Agregar Contacto' }}</button>

    <button type="button" (click)="borrarContactos(); limpiarInputs()">Borrar Agenda</button>

  </form>
  
  <h2>Contactos: </h2>
 
@for (contacto of contactos; track $index) {
    <p>{{ contacto.nombre }} - {{ contacto.numero }} </p>
    <button (click)="borrarContacto($index)">Borrar</button>
    <button (click)="editarContacto($index)">Editar</button>

}

